name: Publish Python package to PyPI

on:
  push:
    tags:
      - 'v*' # 'v'で始まるタグにのみ反応 (例: v1.0, v2.3.4)

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build # buildライブラリをインストール

    - name: Build package
      run: python -m build

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        # ここで先ほど登録したSecretを読み込む
        password: ${{ secrets.PYPI_API_TOKEN }}
